.bg-white {
    position: relative;
    display: flex;
    flex-direction: column;
}
  
.material-symbols-outlined {
    font-size: 18px !important;
    height: 18px !important;
    width: 18px !important;
    line-height: 18px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
  
.flex.justify-between {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 8px;
}
  
//   .h-full {
//     min-height: 320px;
//   }