<div class="p-4 w-full">
    <!-- Header -->
    <div class="mb-1 flex justify-center items-center">
        <div class="flex justify-center items-center w-[30%]">
            <div class="flex w-full">
                <span class="w-full text-2xl font-serif text-red-800 font-thin">Pending publications</span>
            </div>
        </div>
        <div class="flex-grow"></div>
        <div>
            <form>
                <mat-form-field  >
                    <mat-label >Search</mat-label>
                    <input matInput>
                    <span matSuffix class="hover:cursor-pointer hover:text-red-600 mr-3 material-symbols-outlined flex items-center">
                        search
                    </span>
                </mat-form-field>
            </form>
        </div>
       
    </div>

    <div class="mb-4 flex">
        <p class="font-extralight text-black font-mono">There are {{ pending_publications.length }} pending publications</p>
    </div>
    


    <!-- Content -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 mb-6">
        <div *ngFor="let publication of pending_publications" class="hover:cursor-pointer relative mb-2">
            <div class="bg-white rounded-xl shadow-lg overflow-hidden h-full flex flex-col">
                
                <div *ngFor="let domain of publication.domains" class="flex items-center bg-red-50 px-4 py-2 text-xs text-gray-500 border-b border-gray-200">
                    <span class="w-[60%]">{{domain.domainName}}</span>
                </div>

                <!-- Image container with negative margin to create overlap -->
                <div class="relative mx-4 mt-2 z-10">
                    <img src="https://acrobatusers.com/assets/uploads/actions/pdf_accessibility1_0.jpeg"
                        alt="Publication cover image"
                        class="w-full h-40 object-cover rounded-lg shadow-md">
                </div>

                <!-- Content -->
                <div class="p-4 flex flex-col flex-grow">

                    <div class="w-full mb-2 flex justify-center items-center">
                        <h3 class="font-bold text-base">{{publication.title}}</h3>
                    </div>
                    <!-- Title and Author -->
                    <div class="flex items-center mb-2">
                        <div class="w-8 h-8 rounded-full bg-gray-300 mr-2 overflow-hidden">
                            <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
                                alt="Author" class="w-full h-full object-cover">
                        </div>
                        <div class="w-[70%">
                            <p *ngFor="let member of publication.team" class="text-sm text-gray-600">{{member.username}}</p>
                            <p class="text-xs text-gray-500">{{publication.publicationDate}}</p>
                        </div>
                    </div>

                    <!-- Description -->
                    <p class="text-gray-700 text-sm mb-2 line-clamp-3 flex-grow overflow-hidden">
                        {{publication.description}}
                    </p>

                    <!-- Actions -->
                    <div class="flex justify-between items-center mt-auto pt-2">
                        <button (click)="validatePublication(publication, $event)" class="flex items-center px-2 py-1 rounded">
                            <span class="material-symbols-outlined text-green-900">
                                check
                            </span>
                        </button>
                        <button class="flex items-center px-2 py-1 rounded">
                            <span class="material-symbols-outlined text-red-700">
                                close
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>